/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Dec, 2015, 9:23:21 AM
    Author     : Ram
*/
.label{
   -fx-text-fill: whitesmoke;
}
.button{
    -fx-padding: 10 20 10 20;
    -fx-end-margin: 200;
}
.field-background{
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-text-fill: black;
    -fx-highlight-fill: gray;
    -fx-background-color: rgba(255, 255, 255, 0.80);
}